<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    RewriteBase /

    # 1. THE NUKE RULE: Ignore static index.html always (prefer Laravel view)
    RewriteRule ^index\.html$ / [R=301,L]

    # 2. Handle Authorization Header (Needed for some APIs)
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # 3. Existing Files/Dirs (Assets) -> Serve Directly
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # 4. Everything Else -> Send to Laravel (index.php)
    RewriteRule ^ index.php [L]
</IfModule>
